// Define variables for your color scheme
// For example:
$light-gray: #ced4da;
$gray: gray;
$blue: blue;
$green: green;
$yellow: yellow;
$red: red;
$orange: orange;

$light-lavander: #A9A6FF;
$very-light-lavander: #EBF4FF;
$light-blue: #A6CCFF;
$dark-blue: #021E73;
$lavander: #635FD9;
$blue: #8EBFFF;
$beige: #F2ECCE;
$sun: #F2CD13;
$orange: #F29F05;
$canary: #F2B90F;
$brown: #2E1B00;
