
.index-page{
  height: 100vh;
  width: 100vw;
  font-family: $body-font;
  overflow: hidden;
  flex-direction: row;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(166,204,255,1) 0%, rgba(169,166,255,1) 100%);
  justify-content: space-between;
}

.my-card{
  background: white;
  margin: 2vh 5vh;
  width: 90vh;
  z-index: 2;
  height: 88vh;
  border-radius: 5px;
}

.image-card img{
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.index-content{
  width: 90%;
  text-align: center;
  margin: 2vh auto;
}

.index-text{
  width: 97%;
  margin: 2vh auto;
  line-height: 18px;
  color: var(--blue);
  a {
    color: $dark-blue;
    font-weight: bold;
  }
}

.divider{
  width: 8vw;
  height: 3px;
  background-color: var(--light-lavander);
  content: "";
  margin: 1vh auto;
  border-radius: 25%;
}

.index-tags{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.index-tag{
  background-color: var(--lightblue);
  color: $dark-blue;
  border-radius: 3px;
  font-weight: 200;
  font-size: 7px;
  padding: 4px 5px;
  text-transform: uppercase;
  letter-spacing: 0.37em;
}

.chouquette{
  position: absolute;
  width: 50vw;
  height: 20vh;
  bottom: 0vh;
  left: 0vw;
  z-index: 3;
}