
.index-page{
  height: 100vh;
  width: 100vw;
  font-family: $body-font;
  overflow: hidden;
  flex-direction: row;
  display: flex;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.9) 0%, rgba(169,166,255,1) 44%, rgba(166,204,255,1) 100%);
  justify-content: space-between;
  padding-top: 6vh;
}

.my-card{
  background: white;
  margin: 2vh 4vh;
  width: 90vh;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(2,30,115,0.3);

}

.image-card img{
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.titleIndex {
  color: $dark-blue;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Hurmegeo-bold";
  line-height: normal;
  margin-bottom: 10px;
  padding:10px 10px;
}

.index-content{
  width: 90%;
  text-align: center;
  margin: 2vh auto;
}

.index-text{
  color: var(--blue);
  // text-align: center;
  color: $dark-blue;
  font-size: 14px;
  line-height: 1.2em;
  font-family: "Hurmegeo";
  a {
    color: $light-lavander;
    line-height: 1.4em;
    letter-spacing: 0.2rem;
    font-size: 12px;
    font-family: "Hurmegeo-bold";
    padding:15px 20px;
    text-align: center;
  }
}

.divider{
  width: 8vw;
  height: 3px;
  background-color: var(--light-lavander);
  content: "";
  margin: 1vh auto;
  border-radius: 25%;
}

// TAGS
.index-tags{
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: "Hurmegeo";
  font-size: 7px;
  width: 100%;
  z-index: 1;
}

.index-tag {
  background-color: var(--light-blue);
  color: $dark-blue;
  border-radius: 3px;
  // font-weight: 200;
  font-size: 8px;
  text-align: center;
  padding: 4px 8px;
  text-transform: uppercase;
  letter-spacing: 0.37em;
  margin: 5px auto;
  font-family: "Hurmegeo";
}

.index-tags p {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }

// Feuille de chou en background
.chouquette{
  position: absolute;
  width: 50vw;
  height: 20vh;
  bottom: 0vh;
  left: 0vw;
  z-index: 0;
}


