@import "_show";

.index-page{
  height: 100vh;
  overflow-y: hidden;
  // display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(166,204,255,1) 0%, rgba(169,166,255,1) 100%);
  justify-content: space-between;
}
// .index-card{
//   height: 100vh;
//   width: 100vw;
//   display: flex;
//   align-items: center;
//   background: linear-gradient(90deg, rgba(166,204,255,1) 0%, rgba(169,166,255,1) 100%);
//   justify-content: center;
// }
.my-card{
  background: white;
  margin: 2vh 5vh;
  width: 90vw;
  height: 85vh;
  border-radius: 5px;
}
.image-card img{
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.index-content{
  width: 90%;
  text-align: center;
  margin: 15px auto;
}
.index-text{
  width: 97%;
  margin: 5px auto;
}
.divider{
  width: 8vw;
  height: 3px;
  background-color: $light-lavander;
  content: "";
  margin: 10px auto;
  border-radius: 25%;

}
.index-tags{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.index-tag{
  background-color: $blue;
  color: $dark-blue;
  border-radius: 3px;
  font-weight: 300;
  font-size: 10px;
  padding: 4px 5px;
  text-transform: uppercase;
  letter-spacing: 0.37em;
}

// #delete-btn{
//   height: 8vh;
//   border-radius: 50%;
//   background-color: $blue;
// }
