
.rank-fullpage{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.9) 0%, rgba(169,166,255,1) 44%, rgba(166,204,255,1) 100%);
  width: 100vw;
  height: 130vh;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.head-rank{
  margin-top: 7vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rank-img{
  width: 20vw;
}
.rank-title{
  margin-top: 2vh;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: $dark-blue;
}
.rank-head-text{
  color: $dark-blue;
  font-weight: 600;
  width: 80vw;
  line-height: 18px;
}
.card-applause{
  z-index: 3;
  position: relative;
  border-radius: 5px;
  width: 90vw;
  background-color: #fff;
  height: 23vh;
  margin-bottom: 2vh;
}


// head applause
.applause-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  .applause-img{
    width: 22vw;
    position: absolute;
    top: -1vh;
    left: 0.6vh;
  }
  h4{
    margin-top: 2vh;
    margin-left: 10vh;
    text-transform: uppercase;
    color: $dark-blue;
    width: 70%;
    font-weight: 600;
    font-size: 16px;
  }
}

// head read
.head-read{
  display: flex;
  flex-direction: row;
  align-items: center;
  .eyes-img{
    width: 19vw;
    position: absolute;
    top: 3px;
  }
  h4{
    margin-top: 2vh;
    margin-left: 12vh;
    text-transform: uppercase;
    color: $dark-blue;
    width: 70%;
    font-weight: 600;
    font-size: 16px;
  }
}


//head save
.head-save{
  display: flex;
  flex-direction: row;
  align-items: center;
  .head-save-img{
    width: 22vw;
    position: absolute;
    top: 0.6px;
    left: 1vh;
  }
  h4{
    margin-top: 2vh;
    margin-left: 10vh;
    text-transform: uppercase;
    color: $dark-blue;
    width: 70%;
    font-weight: 600;
    font-size: 16px;
  }
}



.rank-chou1{
  z-index: 1;
  transform: rotateZ(-1deg);
  width: 36vw;
  position: fixed;
  right: -10vw;
  top: 26vh;
}

.rank-chou-compo{
  z-index: 1;
  transform: rotateZ(-1deg);
  width: 43vw;
  position: fixed;
  left: -11vw;
  bottom: 7vh;
}
.eyes-img{

  width: 10vh;
  margin: 5px 10px;
}
.eyes-img{
  width: 16vw;
  margin-left: 12px;
}
