.background {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.9) 0%, rgba(169,166,255,1) 44%, rgba(166,204,255,1) 100%);
  position: relative;
  height: 200vh;
}

.picture-up {
  background-attachment: scroll;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.card-white {
  background-color: white;
  border-radius: 6px;
  margin: 20px;
  padding: 10px;
  box-shadow: 2px 2px 6px rgba(2,30,115,0.3);
  top: 27vh;
  margin-bottom: 50px;
  position: absolute;

}

.title {
  color: $dark-blue;
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

// .hr {
//   border: 2px solid #A9A6FF;
//   width : 200px;
//   height: 2px


// }

// .date-creation {
//   color: #C4C4C4;
//   text-align: center;
//   font-size: 14px;
// }

.time-read,
.date-creation {
  color: #949494;
  text-align: center;
  font-size: 12px;
}

.text {
  text-align: left;
  color: $dark-blue;
  font-size: 16px;
  line-height: 1.4em;
}
