// /* PARTIE 1 LOGO */
.home-first-part{
  width: 100vw;
  display: none;
  height: 100vh;
  position: absolute;
  z-index: -1;
  // animation-iteration-count: infinite;
  // animation: fade 6s linear 3s  ;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 50vw;
  }
}

// /* PARTIE 2 WELCOME...*/
.full-page{
  overflow: hidden;
  height: 100vh;
}
.home-border{
  position: relative;
  background-color: white;
  transition: 5s;
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  opacity: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 6px solid black;
  .home-title{
    text-align: center;
    font-size: 30px;
  }
  .home-text{
    font-size: 17px;
  }
  .home-logo{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30vh;
    left: 50%;
  }
}

.home-divider{
  width: 15vw;
  height: 3px;
  background-color: black;
}
// COLOR BACKGROUND
.color-top{
  position: absolute;
  top: -50vh;
  left: 0;
  width: 100vw;
  height: 50vh;
  opacity: .6;
  z-index: 1;
  background-color: $sun;
  display: flex;
  align-items: flex-end;
}

.color-bottom{
  position: absolute;
  bottom: -50vh;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: 3;
  background-color: #A6CCFF;
}
// BUTTON(ARROW) ZEN PEPS
.peps-mood, .zen-mood{
  position: absolute;
  width: 16vw;
  height: 8vh;
  border-radius: 50%;
  background-color: white;
  z-index: 5;
}
.zen-mood{
  bottom: 98vw;
  right: 23vw;
  background-color:#A6CCFF;
}
.peps-mood{
  top: 98vw;
  background-color: #F2CD13;
  right: 7vw;
}
.btn-mood{
  opacity: 0;
}