.account-page{
  width: 100vw;
  background-color: #fff;
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  align-items: center;
}

.account-head{
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 40vh;
  padding-top: 5vh;
  background: rgba($blue, 0.61);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-photo{
  z-index: 2;
}

.account-photo-wrap {
  filter: drop-shadow(0 0 1vh #021E73);
  z-index: 2;
}

.account-photo img{
  width: 36vw;
  height: 18vh;
  clip-path: circle();
  border: 3px solid $blue;
  margin-bottom: 1vh;
  z-index: 2;
}

.account-name {
  font-family: 'Hurmegeo-bold';
  font-weight: bold;
  font-size: 10vw;
  text-transform: uppercase;
  color: #021E73;
  display: flex;
  justify-content: center;
}

p {
  color: #021E73;
  font-family: 'Hurmegeo-light';
  display: flex;
  justify-content: center;
}

.account-card{
  z-index: 2;
  opacity: .9;
  width: 80vw;
  height: 45vh;
  margin-bottom: 10vh;
}

.img-card-top{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 55%;
  width: 100%;
}

.account-card-title{
  text-align: center;
  margin-top: 3vh;
}
.account-info{
  margin-bottom: 4vh;
  z-index: 1;
}
.leaf-right{
  z-index: 3;
  left: 56vw;
  top: 13vh;
  position: absolute;
}
.leaf-left{
  top: 9vh;
  right: 53vw;
  position: absolute;
}
.leaf-right img{
  width: 25vw;
  transform: rotateZ(19deg);
}
.leaf-left img{
  transform: rotateZ(282deg);
  width: 35vw;
  z-index: -1;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#subject_input{
  width: 35vw;
  height: 3vh;
  background-color: $blue;
  color: #fff;
  font-size: 15px;
  border-radius: 1vh;
}

.select-tag {
  display: flex;
  justify-content: center;
}

#button-tag {
  position: relative;
  right: -3vw;
  width: 8vw;
  height: 3vh;
  opacity: 0;
}

.button-leaf {
  width: 13vw;
  height: 4vh;
  top: 35vh;
  right: 23vw;
  position: absolute;
}