.account-page{
  width: 100vw;
  background-color: #fff;
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  align-items: center;
}

.account-head{
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 50vh;
  padding-top: 5vh;
  background: rgba($blue, 0.61);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-photo{
  z-index: 2;
}

.account-photo-wrap {
  filter: drop-shadow(0 0 1vh #021E73);
  z-index: 2;
}

.account-photo img{
  width: 36vw;
  height: 18vh;
  clip-path: circle();
  border: 3px solid $blue;
  margin-bottom: 1vh;
  z-index: 2;
}

.account-info{
  margin-bottom: 4vh;
  z-index: 1;
  p {
    color: #021E73;
    font-family: 'Hurmegeo-light';
    display: flex;
    justify-content: center;
  }
}

.account-name {
  font-family: 'Hurmegeo-bold';
  font-weight: bold;
  font-size: 10vw;
  text-transform: uppercase;
  color: #021E73;
  display: flex;
  justify-content: center;
}

.leaf-right{
  z-index: 3;
  left: 56vw;
  top: 13vh;
  position: absolute;
}
.leaf-left{
  top: 9vh;
  right: 53vw;
  position: absolute;
}
.leaf-right img{
  width: 25vw;
  transform: rotateZ(19deg);
}
.leaf-left img{
  transform: rotateZ(282deg);
  width: 35vw;
  z-index: -1;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#subject_input{
  width: 35vw;
  height: 3vh;
  background-color: $blue;
  color: #fff;
  font-size: 15px;
  border-radius: 1vh;
  text-align-last: center;
  font-family: 'Hurmegeo';
}

.select-tag {
  display: flex;
  justify-content: center;
}

#button-tag {
  position: relative;
  right: -3vw;
  width: 8vw;
  height: 3vh;
  opacity: 0;
}

.button-leaf {
  width: 11vw;
  height: 4vh;
  top: 35vh;
  right: 23vw;
  position: absolute;
}

.account-card{
  z-index: 2;
  opacity: 1;
  width: 80vw;
  height: 40vh;
  margin-bottom: 4vh;
  box-shadow: 2px 2px 6px rgba(2,30,115,0.3);
  border-radius: 1vh;
}

.img-card-top{
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  height: 55%;
  width: 100%;
  margin-bottom: 2vh;
}

.account-card h4{
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 3.5vw;
  text-align: center;
  margin-bottom: 1vh;
}

.index-tags {
  display: inline-flex;
  margin-top: 2vh;
  p {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

