
<% @articles.each do |article| %>
<div class="index-page">
  <div class="index-card">
    <div class="image-card">
      <%= cl_image_tag article.photo.key,  crop: :fill %>
    </div>
    <div class="index-content">
      <div class= "title"> <%= article.title %></div>
      <span class="divider"></span>
      <div class="date-creation">
        <%= article.created_at.localtime.strftime("Le %d/%m/%Y à %k:%M") %>
      </div>
      <div class="time-read">
        <p>Temps de lecture 4 min</p>
      </div>
      <div class="text">
        <p> <%= article.content[0..300] %></p>
      </div>
    </div>
  </div>
</div>
<% end %>