<div class="barres">
    <div class="hamburger"></div>
</div>
<header>
  <div class="menu">
    <ul >
      <li class="menu-item"><a href="#part3"><%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-21_emfyri") %> <p>MENU</p></a></li>
      <li class="menu-item"><a href="#part3"><%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/LOGO_theCabbageLeaf_violet_fondBlanc-08_itfnx6") %> <p>PROFIL</p></a></li>
      <li class="menu-item"><a href="#part3"> <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-17_ogpru6") %> <p>CLASSEMENT</p></a></li>
      <li class="menu-item"><a href="#part3"> <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-18_ffhgay") %> <p>ABOUT</p></a></li>
      <div class="social-media">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </ul>
  </div>
</header>
