<div class="barres">
    <div class="hamburger"></div>
</div>
<header>
  <div class="menu">
    <ul>
      <li><a href="#part3"> MENU</a></li>
      <li><a href="#part3"> PROFIL</a></li>
      <li><a href="#part3"> CLASSEMENT</a></li>
      <li><a href="#part3"> ABOUT</a></li>
    </ul>
  </div>
</header>
