 <div class="barres">
    <div class="hamburger"></div>
</div>
    <div class="menu">
      <ul>
        <li class="menu-item"><a href="/articles"><%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/home_nav-21_rh9mrp", id: "little-img") %> <p>MENU</p></a></li>
        <li class="menu-item"><a href="/account"><%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/LOGO_theCabbageLeaf_violet_fondBlanc-08_itfnx6") %> <p>PROFIL</p></a></li>
        <li class="menu-item"><a href="/articles/rank"> <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/nav-17_zjm5ml") %> <p>CLASSEMENT</p></a></li>
        <li class="menu-item"><a href="/about"> <%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/nav-18_uuhrcl") %> <p>ABOUT</p></a></li>
        <div class="social-media">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </ul>
    </div>



