<div class="barres">
    <div class="hamburger"></div>
</div>
<header>
  <div class="menu">
    <ul >
      <li class="menu-item"><a href="#part3"> MENU</a></li>
      <li class="menu-item"><a href="#part3"><%= cl_image_tag("The Cabbage Leaf/LOGO - PICTO/LOGO_theCabbageLeaf_violet_fondBlanc-08_itfnx6") %> PROFIL</a></li>
      <li class="menu-item"><a href="#part3"> <%= cl_image_tag("") %> CLASSEMENT</a></li>
      <li class="menu-item"><a href="#part3"> <%= cl_image_tag("") %> ABOUT</a></li>
      <div class="social-media">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </ul>
  </div>
</header>
