<div class="home-first-part">
  <%= image_tag "LOGO_theCabbageLeaf-03" %>
</div>

<div class="color-top"></div>
<div class="color-bottom"></div>
<div class="home-border">
      <%= cl_image_tag("https://res.cloudinary.com/df310vkui/image/upload/v1615892805/The%20Cabbage%20Leaf/LOGO%20-%20PICTO/LOGO_theCabbageLeaf_Plan_de_travail_1_zyknu1.svg", 
      class: "home-logo", width: 100) %>
      <h1 class="home-title">Bonjour vous,</h1>
      <p class="home-texte">Bienvenu sur The Cabbage Leaf</p>
      <span class="home-divider"></span>
</div>

