<div class="home-border">
      <%= cl_image_tag("https://res.cloudinary.com/df310vkui/image/upload/c_scale,h_264/v1615818381/The%20Cabbage%20Leaf/LOGO%20-%20PICTO/LOGO_theCabbageLeaf_Plan_de_travail_1_cflame.png",
      class: "home-logo") %>
      <h1 class="home-title">Bonjour vous,</h1>
      <p class="home-texte">Bienvenu sur The Cabbage Leaf</p>
      <span class="home-divider"></span>
</div>

