<div  class="home-first-part">
  <%= cl_image_tag"The Cabbage Leaf/LOGO - PICTO/LOGO_theCabbageLeaf-03_td5vyr",
      class: "logo"%>
</div>
<div  class="full-page">
  <div class="color-top">
    <h4 class="mood">PEP'S</h4>
  </div>
  <div class="color-bottom">
    <h4 class="mood">ZEN</h4>
  </div>
    <div class="btn-mood">
      <%=cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf_Plan_de_travail_1_opnlzl", class: "zen-mood") %>
      <%=cl_image_tag("The Cabbage Leaf/LOGO - PICTO/Arrow_thecabbage_leaf-04_svb2d0", class: "peps-mood")%>
    </div>
  <div  class="home-border">
        <%= cl_image_tag("https://res.cloudinary.com/df310vkui/image/upload/v1615892805/The%20Cabbage%20Leaf/LOGO%20-%20PICTO/LOGO_theCabbageLeaf_Plan_de_travail_1_zyknu1.svg",
        class: "home-logo", width: 100) %>
        <h1 class="home-title">Bonjour vous,</h1>
        <p class="home-texte">Bienvenue sur The Cabbage Leaf</p>
        <span class="home-divider"></span>
  </div>
    
</div>
<div hidden class="last-part">
        <p class="home-last-texte">Dans quel mood souhaiteriez-vous vivre cette expérience? </p>
        <span class="home-divider"></span>
  </div>


