.carousel {
  height: 35vh;
  margin: 12px;
}
.carousel-inner {
  overflow: visible;
}
.carousel ul {
  -webkit-transform: translateY(36%);
  -ms-transform: translateY(36%);
  transform: translateY(36%);
  padding-left: 7px;
}
.carousel li {
  float: left;
  font-size: 13px;
  margin: 0 3%;
  text-align: center;
  width: 20%;
  list-style-type: none;
}
.carousel li:first-child {
  margin-left: 1%;
}
.carousel li:last-child {
  margin-right: 1%;
}
.carousel li {
  margin: 0 1.64%;
  width: 30%;
}
.carousel img {
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
}
.carousel label {
  padding: 0;
  -webkit-transition: all .34s linear;
  transition: all .34s linear;
}
.carousel input[type="radio"] {
  display: none;
}
.carousel input[type="radio"]:checked + label {
  border-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition: all .34s linear;
  transition: all .34s linear;
  z-index: 2;
}
.carousel li:first-child input[type="radio"]:checked + label  {
  position: relative;
  -ms-transform: translateX(25%) scale(1.5);
  -webkit-transform: translateX(25%) scale(1.5);
  transform: translateX(25%) scale(1.5);
}
.carousel li:last-child input[type="radio"]:checked + label  {
  position: relative;
  -ms-transform: translateX(-25%) scale(1.5);
  -webkit-transform: translateX(-25%) scale(1.5);
  transform: translateX(-25%) scale(1.5);
}