.buttons-index{
  display: flex;
  justify-content: space-evenly;
  padding-top: 3px;
  padding-bottom: 30px;
}
// Button -Show/article

.buttonChou .btn-index {
  transform: scale(1.3);

}

.buttonChou{
  position: relative;
}

.btn-index-chou{
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  background-color: $blue;
  opacity: .5;
  position:relative;
  margin-bottom: 2vh;
  margin-right: 3vh;
}

#chou{
  height: 9vh;
  width: 9vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 52%;
  left: 41%;
}

.btn-index-clap{
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  background-color: $blue;
  opacity: .5;
  position:relative;
  margin-bottom: 2vh;
  margin-left: 3vh;
}

#claps{
  height: 9vh;
  width: 9vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 39%;
  left: 64%;
}


// Bouton - index/article
.btn-index{
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background-color: $blue;
  opacity: .5;
  position:relative;
  margin-bottom: 2vh;
}
 #delete-btn{
  height: 10vh;
  width: 10vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 53%;
  left:53%;
 }

// #btn-save{
//   height: 9vh;
//   width: 9vh;
//   fill: white;
//   z-index: 20;
//   opacity: 1;
//   position: absolute;
//   transform: translate(-50%, -50%);
//   top: 50%;
//   left:50%;
// }

#btn-readLater{
  height: 10vh;
  width: 10vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 54%;
  left:56%;
 }

#btn-v{
  height: 6vh;
  width: 6vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
}


