.button-index{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.btn-index{
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background-color: $blue;  
  opacity: .5;
  
  margin: 0 2vh 6vw 2vh;
}
#btn-save{
  height: 10vh;
  width: 10vh;
  fill: white;
  // margin-bottom: 5vh;
 }