.buttons-index{
  display: flex;
  justify-content: space-evenly;
  padding-top: 3px;
  padding-bottom: 30px;
}

.buttonChou .btn-index {
  transform: scale(1.3);
}

.buttonChou{
  position: relative;

}

// Bouton "croix + lire tout de suite"
.btn-index{
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background-color: $blue;
  opacity: .5;
  position:relative
  // margin: 0 3vh 6vw 2vh;
}
 #delete-btn img{
  height: 9vh;
  width: 9vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
 }

#btn-save img{
  height: 9vh;
  width: 9vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
}

#btn-readLater img{
  height: 10vh;
  width: 10vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left:56%;
 }




