.buttons-index{
  display: flex;
  justify-content: space-evenly;
  padding-top: 3px;
  padding-bottom: 30px;
}
// Button -Show/article

.buttonChou .btn-index {
  transform: scale(1.3);

}

.buttonChou{
  position: relative;
}

.btn-index-chou{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: $blue;
  opacity: .5;
  position:relative;
  margin-bottom: 2vh;
  margin-left: 6vw;
}

#chou{
  height: 80px;
  width: 80px;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 44px;
  left: 62px;
}

.btn-index-clap{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: $blue;
  opacity: .5;
  position:relative;
  margin-bottom: 2vh;
  margin-left: -11vw;
}

#claps{
  height: 74px;
  width: 77px;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 37px;
  left: -9px;
}


// Bouton - index/article
.btn-index{
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background-color: $blue;
  opacity: .5;
  position:relative;
  margin-bottom: 2vh;
}
 #delete-btn{
  height: 10vh;
  width: 10vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 53%;
  left:53%;
 }


#btn-readLater{
  height: 10vh;
  width: 10vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 54%;
  left:56%;
 }

#btn-v{
  height: 6vh;
  width: 6vh;
  fill: white;
  z-index: 20;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
}

// Show - pages (Account)

.fleche-back-chou{
  width: 6vh;
  left: 0.5em;
  top: 0.2em;
  position: absolute;
  z-index: 1000;
}

